# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_python3.6
    - CONFIG=osx_python3.7

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "vJ/JWZF6J7xMvDV0qL4RRvY+AEavBfkJSlh4SEgwuJLKX70ne0rDysTUNs3VWOB34q9COoPUsqaAXG3mBTCwQigcGEPF6f4zLTUMI8UhkRmhpYTJol0j2NBSDI9yEHmKkev/HiQnNM/MPtVpZpwZxSioJDr56brGDUhTiFw5+4RkoUN61MwzLB82VAjdyRN8Dc51HYKQBOUgQ2Y4BehiN1W8NiDLdDkYmei/yh3Xiqa1VS806BYsLHqAKu3FpJkDg1fpGk2IB5txCEMSR8xi7miPOAOFvA+TuwVNXtcZXZa7hY5cn+BhZlg418XUNHsSmd/uO/ZGQIkr8LhacOhe4u2uameB68nGq79GUbQsoZUXWI5hfJnFxP6B11wLvQ1XDz2D8iAcYislPVbQah/4Q2Uf7jjnjkbQqVhU4Ov03hVAmut5zA3YtWxbZONMxmmpe0TWJtbSRUA+OPRmssNym3Ocd19PSzC4rJrHQIQv4Ln990XZs4L0VGd4w/OA+ND00yP9TsuqNglWO+JvpMoXErUygld3JQEolq560A0085nRnQzNuhyg3TnKVofKBRd9WfT8VMZ2v+rNBbHYqrnJG/MxBzFM4WirfrTK88922aNkQAByf6zXhekU3hW8ZunNxSyBJyELvOOoJ/5hbELBp4w08Dtn34VnAnVbPGR2YpM="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install --yes --quiet conda-forge::conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml
